
.gloomy-pagination, .gloomy-pagination a:visited {
	margin:10px 0; 
	float:right;
	padding:4px 7px;
    text-decoration:none;
    -moz-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -webkit-border-radius:4px;
}

.gloomy-pagination .active { padding:4px 7px; text-decoration:none; -moz-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -webkit-border-radius:4px; }



/*
    FILTRES
*/

.filters {
    width:                          100%;
    display:                        inline;

    border:                         1px solid #C9C9C9;
}

.filtersContainer {
    background-image:               url( ../img/transparent.gif );      /* Une image invisible pour empecher IE de déclencher des mouseout */
    position:                       absolute;
    padding:                        0px 10px 120px 10px;                /* Padding-bottom important pour bloquer des mouseout */
}

.filtersOptions {
    padding:                        10px;
    margin:                         0px;
    position:                       relative;
    background-color:               #DBDBDB;
    border:                         1px solid #9E9E9E;
    -moz-border-radius:             0px 0px 20px 20px;

    opacity:                        0.8;
    filter:                         alpha(opacity=80);
    -ms-filter:                     "alpha(opacity=80)";
}

.clearFilters {
    position:                       relative;
    left:                           -23px;
    top:                            1px;
}

/* ============================================= pagination ============================================= */
.pagination a, .pagination a:visited { padding:4px 7px; text-decoration:none; -moz-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -webkit-border-radius:4px; }
.pagination .active { padding:4px 7px; text-decoration:none; -moz-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -webkit-border-radius:4px; }
.float_right { float:right; }
.margin_10_0 { margin:10px 0; }