
<form {{ form_enctype(form) }}
      method="post"
      action="{{ path(app.request.attributes.get('_route'), {'crud_action': 'add'}) }}"
      >

    {{ form_widget(form) }}

    <input type="submit">

</form>
