
<form {{ form_enctype(form) }}
      method="post"
      action="{{ path(app.request.attributes.get('_route'), {'id': item.id, 'crud_action': 'edit'}) }}"
      >

    {{ form_widget(form) }}

    <input type="submit">

</form>
